<style>
    body {
        font-family: 'Arial', sans-serif;
    }

    .content-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f7f7f7;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    img.chart-image {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 20px 0;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 600px) {
    .content-container {
        max-width: 100%;
        padding: 10px;
    }
}

</style>

{% block content %}
    <div class="content-container">
        {% if chart %}
            <img src="data:image/png;base64, {{ chart|safe }}" class="chart-image">
        {% endif %}
    </div>
{% endblock content %}
